<br>
<div class="bg-danger container ">
 



  
  <div class="row">
    <div class="col-md-4">   <h1><%= add %></h1>
    <p>Welcome to <%= add %></p>
    
     <ul style="list-style-type: none">
    <li><a class="btn btn-success"  href="/view">View Data</a></li><br>
    <li><a class="btn btn-success"  href="/">Home</a></li>
    </ul>
    <br></div>
    <br>
    <div class="col-md-4 bg-primary" style="border-radius: 10px">

  <form action="/post" method="POST">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control"  placeholder="Enter Your Name" name="name">
    </div>
     <div class="form-group">
      <label for="age">Age:</label>
      <input type="Number" class="form-control" placeholder="Enter Age" "name="age">
    </div>
     <div class="form-group">
      <label for="office">Office:</label>
      <input type="text" class="form-control"  placeholder="Enter Office" name="office">
    </div>
     <div class="form-group">
      <label for="country">Country:</label>
      <input type="text" class="form-control"  placeholder="Enter Country" name="Country">
    </div>
    
  
    <button type="submit" class="btn btn-default">Submit</button>
  </form>

</div>

    </div>   <br>
  </div>
    </div>


